/* ===----------------------------------------------=== */
/* ROOT CSS VARIABLES. */
:root {
  --border-color: hsl(210, 7%, 91%);
  --bg-secondary: hsl(225, 6%, 14%);

  --text-primary: hsl(0deg 0% 10.59%);
  --text-secondary: hsl(0deg 0% 10% / 64%);
  --text-secondary: hsl(200 5% 44%);
  --text-secondary: hsl(193.33deg 5.39% 32.75%);

  --bg-primary: hsl(190.91deg 33.33% 97.02%);
  --bg-tertiary: hsl(210deg 4.76% 91%);

  --link-primary: hsl(217.32deg 89.13% 18.04%);
  --link-visited: hsl(214.08deg 81.75% 49.41%);

  --bg-section-full: hsl(0deg 0% 89.41%);

  --hr-color: hsl(160deg 2.16% 82.75%);
  --accent: hsl(20, 5.36%, 50%);
  --border-accent: hsl(15, 5.88%, 73.33%);
  --dim: hsl(0, 0%, 18.90%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-primary: hsl(0deg 0% 89.02%);
    --text-secondary: hsl(0deg 0% 100% / 64%);

    --bg-primary: hsl(190.91deg 33.33% 6.47%);
    --bg-tertiary: hsl(210deg 4.76% 16.47%);

    --link-primary: hsl(217.32deg 89.13% 81.96%);
    --link-visited: hsl(263.2deg 52.45% 71.96%);

    --bg-section-full: hsl(0deg 0% 10.59%);

    --hr-color: hsl(160deg 2.16% 27.25%);
    --accent: hsl(200, 5.36%, 50%);
    --border-accent: hsl(195, 5.88%, 26.67%);
    --dim: hsl(0, 0%, 81.10%);
  }
}


/* ===----------------------------------------------=== */
/* ! ... */
*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  line-height: 1.5rem;
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-feature-settings: "kern";
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  font-variation-settings: normal;
  scroll-behavior: smooth;
}

/* Ported from Kevin Powell */
/*
@media (prefers-reduced-motion:reduce) {
  html { scroll-behavior: auto }
  *, :after, :before {
    -webkit-animation-duration: .01ms !important;
    animation-duration: .01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    -webkit-transition-duration: .01ms !important;
    transition-duration: .01ms !important
  }
}
*/

body {
  max-width: 650px;
  max-width: max(66ch, calc(min(650px, 72ch)));
  margin: 0 auto;
  padding: 0 10px;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: normal;
  color: var(--text-primary);
  background-color: var(--bg-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

section {
  padding-block-end: 2em;
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/
summary {
  cursor: pointer;
  display: list-item;
}

footer {
  font-size: 0.75rem;
  padding-block-end: 1.25rem;
}

/* pre { background-color: var(--bg-tertiary); } */

h1 {
  color: var(--text-primary);
  font-size: 2.75rem;
  font-weight: 700;
}

h2 {
  color: var(--text-primary);
  font-size: 1.375rem;
  font-weight: 700;
}

h3 {
  font-weight: 700;
  font-size: 1.125rem;
}

/* h4 { font-weight: 700; font-size: 0.875rem; } */
p {
  hyphens: auto;
  margin: 0;
  padding: 0;
}

p {
  /*white-space: pre-wrap;*/
  /*word-break: break-word;*/
}

a {
  color: inherit;
  text-underline-offset: 0.15em;
  transition-property: background;
  -webkit-tap-highlight-color: hsl(0deg 0% 100% / 10%);
  transition-duration: 0.2s;
  /*  text-decoration: none;*/
}

/* ===----------------------------------------------=== */
/* ! Ported from tailwindcss */
/*
b, strong { font-weight: bolder }
code, kbd, pre, samp {
  font-family: Fira Code VF, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-size: 1em
}
*/

/* blockquote,dd,dl,figure,h1,h2,h3,h4,h5,h6,hr,p,pre { margin: 0 } */

menu,
ol,
ul {
  padding-inline: 2rem;
}

li::marker {
  color: var(--bg-tertiary);
}

/*
input::placeholder, textarea::placeholder { opacity: 1; color: #9ca3af; }

[role=button], button { cursor: pointer; }

:disabled { cursor: default; }
*/
a:is(:link, :visited, :hover, :target, :focus, :focus-within, .focus-visible).disabled,
a.disabled,
.disabled a {
  color: var(--dim);
  opacity: 0.6;
  pointer-events: none;
  cursor: not-allowed;
  user-select: none;
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  display: block;
  vertical-align: middle
}

img,
video {
  max-width: 100%;
  height: auto;
}

/* [hidden] { display: none; } */

html {
  height: 100%;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11"
}

body {
  min-height: 100%
}

.text audio:not(:last-child),
.text blockquote:not(:last-child),
.text h2:not(:last-child),
.text h3:not(:last-child),
.text h4:not(:last-child),
.text h5:not(:last-child),
.text h6:not(:last-child),
.text hr:not(:last-child),
.text ol:not(:last-child),
.text p:not(:last-child),
.text table:not(:last-child),
.text ul:not(:last-child) {
  margin-bottom: 3ch;
}

.row {
  display: flex;
}

@media (min-width: 768px) {
  .row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-flow: row;
  }
}

/* ===----------------------------------------------=== */
/* Props */

#ddesc {
  padding-block-start: 32px;
  grid-column: span 6;
}

@media (min-width: 991px) {
  #ddesc {
    grid-column: span 12;
    padding-block-start: 20px;
  }
}

.subtitle {
  font-weight: normal;
  font-style: italic;
  opacity: 0.8;
  padding: 0;
  font-size: 1.25rem;
  margin: 5px 0 10px 0;
}

.iico {
  width: 28px;
  height: 28px;
}

#dico {
  margin-block-start: 1.5rem;
}

#dico a {
  text-decoration: none;
  margin-inline-end: 10px;
}

hr {
  height: 1px;
  padding: 0;
  margin: 20px 0;
  border: 0;
  background-color: var(--hr-color);
}

/* ===----------------------------------------------=== */
/* SECTION: #experience .history */

@media (max-width: 768px) {
  #experience .row {
    display: block;
  }
}

.timespan {
  grid-column: span 2;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.10em;
  padding-inline-end: 2px;
  color: var(--dim);
  text-transform: uppercase;
  font-weight: 500;
}

.ico {
  display: grid;
  vertical-align: top;
}

@media (min-width: 768px) {
  .ico {
    grid-column: span 1;
    border-inline-start: 2px solid var(--bg-tertiary);
    position: relative;
    margin-inline-start: 7px;
    margin-inline-end: 20px;
    text-align: right;
    border-radius: 6px 0px 1.4em 7.2px;
  }
}

@media (prefers-color-scheme: dark) {
  .timespan {
    color: hsl(200, 5.36%, 50%);
    color: hsl(200deg 8.83% 62.24%);
  }

  .ico {
    border-inline-start-color: var(--bg-tertiary);
  }
}

/* same as skills category h3 */
.desc-org {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.10em;
  margin-block-end: 6px;
}

a:has(.desc-org) {
  text-decoration: unset;
}

.entry {}

.desc {
  grid-column: span 10;
  vertical-align: top;
}


#experience .desc {
  padding-block-end: 24px;
}

#experience .desc ul li {
  color: hsl(200deg 8.83% 62.24%);
  color: var(--text-secondary);
}

@media (min-width: 769px) {
  .entry-dot {
    position: absolute;
    top: 0;
    left: -8px;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    background-color: var(--bg-tertiary);
    border: 2px solid white;
  }

  #experience .desc {
    grid-column: span 9;
  }
}

@media (prefers-color-scheme: dark) {
  .entry-dot {
    background-color: hsl(225deg 4% 19.61%);
    border-color: hsl(225deg 4% 19.61%);
  }
}

/* ===----------------------------------------------=== */
/* SECTION: PROJECTS */

.projects>.project:not(:last-child) {
  --outline-block-end: 1px;
  box-shadow: 0 var(--outline-block-end) 0 0 var(--hr-color);

}

.project {
  padding-block: 10px;
}

ul li,
ul.projects li {
  list-style-type: "λ𝑥. ";
}

ul li::marker,
ul.projects li::marker {
  color: var(--dim);
  color: var(--text-secondary);
  color: var(--text-primary);
}

.project span:before {
  --pattern: " · ";
  --pattern: " — ";
  --pattern: " - ";
  content: var(--pattern);
}

/* ===----------------------------------------------=== */
/* SECTION: SKILLS */
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

.category {
  margin-block-end: 1em;
}

.category h3 {
  margin: 0;
  padding: 0;
}

.category ul {
  list-style: none;
  padding: 0;
  margin-block-start: 0.2em;
}

.category li {
  color: var(--text-secondary);
}

/* same as `.desc-org` in section experience for organization name  */
.category h3 {
  display: block;
  text-transform: uppercase;
  opacity: 0.75;
  font-weight: bold;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.10em;
  margin-block-end: 6px;
}

.category ul li:is(:first-child) {
  padding-block-start: 0.5em;
}

.category li {
  margin-inline-start: 1ch;
  border-inline-start: 1px solid var(--hr-color);
  padding-inline-start: 1em;
  padding-block: 0.2em;
}

.category li {
  list-style: none;
}

a.download-pdf-link {
  padding-block: 1em;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: var(--text-primary);
    background: var(--bg-primary);
  }

  a:link {
    color: var(--link-primary);
  }

  a:visited {
    color: var(--link-visited);
  }

  hr {
    background-color: var(--hr-color);
  }
}

/* ===----------------------------------------------=== */
/*! from utils.css*/

.font-mono {
  font-variant-ligatures: none;
  font-family: Fira Code VF, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-size: 1em
}

.flex {
  display: flex
}